/* YOUR STYLING HERE */
body {
  background-color: $light-blue;
}
.page {
  background-color: $light-blue;
  padding-bottom: 10rem;

  h1 {
    text-align: center;
    color: $blue;
  }
}

.question-list {
  padding: 1rem 10rem;
  color: $grey
}

.unselected-question {
  padding: 1rem 0;
  border-bottom: solid 1px;

  i {
    padding: 0px 2rem;
  }

   h5 {
     display: inline-block;
   }
}

.selected-question {
  padding: 1rem 0;

  i {
    padding: 0px 2rem;
  }

   h5 {
     display: inline-block;
   }
}

.green {
  color: green;
}

.navbar {
  background: #451A3E;
  padding: 10px;
  border: 1px #ff9900 solid;
}

.back-button {
  display: inline-block;
  padding-right: 15px;
}

.navbarList, .navbarList > a {
  color: $blue;
  padding-right: 15px;
}

.launcher-list {
  width: 600px;
  margin: 0 auto;
}

.launcher-list a{
  color: $grey;
  font-size: 1.2rem;
  font-weight: bold;
}

.launcher-list a:hover {
  color: $green;
  font-weight: bold;
}
